<div class="passwordBox animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h3 class="logo-name text-center">iO+</h3>
      </div>
      <div class="ibox-content">
          <h2 class="font-bold">Forgot password</h2>
          <p>
              Enter your email address and your password will be reset and emailed to you.
          </p>
          <div class="row">
            <div class="col-lg-12">
               
              <%= active_admin_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                f.input :email, label: false, input_html: {placeholder: "Email"}
                f.action :submit, label: t('active_admin.devise.reset_password.submit'), button_html: { value: t('active_admin.devise.reset_password.submit') }
                para class: "text-muted text-center small" do
                  text_node "Just remember password?"
                end
                a href: admin_user_session_path, class: "btn btn-block btn-white" do 
                  i class: "fa fa-sign-in"
                  text_node "Login"
                end
              end %>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row m-t-md">
    <div class="col-sm-6">
      Copyright iSupport LLC
    </div>
    <div class="col-sm-6 text-right">
      <small>© 2016</small>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("body").addClass("gray-bg");
    $(":submit").addClass("btn-block");
  });
</script>