/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}
.flashes, .flash {
	display: none;
}


nav.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

nav.pagination span{
	background-color: white;
  border: 1px solid #dddddd;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
}

nav.pagination span.first, nav.pagination > span:first-child{
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
nav.pagination span.last, nav.pagination > span:last-child{
	border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
nav.pagination span.current{
  background: #f4f4f4;
}

nav.pagination span a{
	color: inherit;
	font-weight: 600;
}