<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">iO+</h1>
    </div>
    <h3><%= t "active_admin.devise.welcome" %> </h3>

    <% scope = Devise::Mapping.find_scope!(resource_name) %>

      <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_session_path"), html: { id: "session_new", class: "m-t" }) do |f|
          resource.class.authentication_keys.each_with_index { |key, index|
            f.input key, label: false, 
              input_html: { autofocus: index.zero?, placeholder: t('active_admin.devise.'+key.to_s+'.title')}
          }
          f.input :password, label: false, input_html: {placeholder: t("active_admin.devise.password") }
          f.action :submit, label: t("active_admin.devise.login"), class: "btn-block"
          div class: "form-group" do 
            a href: "/admin/password/new" do 
              small t("active_admin.devise.password_forgot")
            end
          end
      end %>
     <p class="m-t"> <small>Developed by iSupport LLC  &copy; 2016</small> </p>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("body").addClass("gray-bg");
    $(":submit").addClass("btn-block");
  });
</script>