/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.0
 *
*/

// Google Fonts
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Bootstra
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "active_admin/pages/animate/animate";

// Variables, Mixins
@import "active_admin/pages/toastr/toastr";

@import "active_admin/base/variables";
@import "active_admin/base/mixins";
@import "active_admin/forms";


// INSPINIA Theme Elements
@import "active_admin/base/typography";
@import "active_admin/base/navigation";
@import "active_admin/base/top_navigation";
@import "active_admin/base/buttons";
@import "active_admin/base/badgets_labels";
@import "active_admin/base/elements";
@import "active_admin/base/sidebar";
@import "active_admin/base/base";
@import "active_admin/base/pages";
@import "active_admin/base/chat";
@import "active_admin/base/spinners";


// RTL Support
@import "active_admin/base/rtl";

// For demo only - config box style
@import "active_admin/base/theme-config";

// INSPINIA Skins
@import "active_admin/base/skins";

// Media query style
@import "active_admin/base/media";

// Custom style
// Your custom style to override base style
@import "active_admin/base/custom";


.right_bar {
	position: relative;
	text-align: right;
	display: table;
}

.right_bar div { 
	height: 50px;
	display: table-cell;
	vertical-align: bottom;
}

input.file_name{
	font-size: 10px;
}

.nav-tabs{
}

.tabs {
	border-radius: 4px;
}

.tabs .tab-content{
	border: 1px solid #1ab394;
	margin-bottom: 20px;
	border-radius: 4px;
	background: #fff;
}

.tabs ul li a{
	font-size: 14px;
	background: #fff;
	color: #777;
	border-top: 3px solid #f8ac59;
	border-bottom: none;
}
.tabs ul li.active a{
	border:1px solid #1ab394 !important;
	border-top-width: 4px !important;
	border-bottom: none !important;
	margin-bottom: -1px !important;
	background: #fff !important;
}



